$rounded-corner: 15px;
$transparent-white: rgba(255, 255, 255, 0.7);

.content {
    height: 100%;
    background-color: $transparent-white;
    width: 66%;
    border-radius: $rounded-corner;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
  background: $transparent-white;
  padding: 0;
  width: fit-content;
  align-self: center;
}

.starbutton h1 {
    padding: 5px;
    padding-right: 10px;

}

.star {
  height: 50px;
}

.routines {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: inherit;
}

.add-new {
  height: 100%
}

textarea {
  resize: none;
  border-radius: 5px;
  border-width: 2px;
  border-style: inset;
  margin: 5px;
}
