/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html, div, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("starrynigh.jpg");
}

.bottom {
  flex-direction: column;
}

.top {
  flex-direction: column-reverse;
}

.login-form, .top, .bottom, .today, .streaks, .addedit, .avatar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.login-form, .today, .addedit, .streaks {
  flex-direction: column;
}

.streaks {
  width: 100%;
}

.today, .addedit {
  width: 50%;
  height: 50vh;
  justify-content: flex-start;
}

@media (min-device-width: 500px){

  .top, .bottom {
    flex-direction: row;
    height: 50vh;
  }

  .avatar {
    width: 30%;
  }

  .streaks {
    width: 70%;
  }

  .login-form, .top, .bottom, .today, .streaks, .addedit, .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*End media query*/

/*
.sparky {
  width: 80%;
  border-radius: 25px;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}*/
