// Place all the styles related to the Api::Streaks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.streak {
  min-width: 5%;
  border-radius: 10em;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-right: 5px;
}

.streak-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin: 5px;
}

img.onfire {
    position: absolute;
    z-index: -1;
}

.onfire {
    height: 45px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.streak-num {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  h4.streak-title {
      padding-right: 10px;
      position: absolute;
  }
